#==============================================================================
# git files to ignore 
#
#==============================================================================

.DS_Store
.DS_Store
Location.java
Sprite.java
Location.java
Sprite.java
*.java
!/BattleGUI.java
*.class
*.class
